.container-article {
    height: 100%;
    margin: 0 155px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15%;
    padding: 0 24px
}

.title-article {
    color: #666;
    padding-top: 10px;
    font-size: 21px;
}

.article-one {
    
}