footer {
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #024f54;
    margin-top: 8%;
  }
  
  .footer-content p {
    color: white;
    font-weight: 500;
    font-size: 17px;
    text-align: center;
  }

/* TABLET */

  @media screen and (max-width: 560px) {
    .footer-content p {
        font-size: 14px;
      }
  }

  @media screen and (max-width: 530px) {
    .footer-content p {
        font-size: 12px;
      }
  }

/*MOBILE*/

@media screen and (max-width: 411px) {
    .footer-content p {
        font-size: 9px;
      }
}

