body {
  background-color: aliceblue;
}

.videos-area {
  background: radial-gradient(
    linear,
    rgba(0, 0, 0, 1) 0%,
    rgba(15, 67, 70, 1) 35%,
    rgba(1, 28, 29, 1) 100%
  );
}

.layout-videos {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  border-radius: 10px;
  padding-bottom: 10px;
}

.thumb {
  width: 50vw;
  height: 100%;
  border-radius: 10px;
  transition: all 0.25s;
}

.thumb:hover {
  background-size: 150%;
  filter: grayscale(100%) blur(2px);
  transform: scale(98%);
}

.title-videos {
  font-size: 1.8rem;
  padding-top: 3px;
  text-align: center;
  color: white;
}

/* STYLES SOCIAL MEDIA AREA*/

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px 0;
}

.social-media p {
  color: #666666;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  font-size: 34px;
  margin-bottom: 22px;
}

.icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 20%;
}

.icons .bi {
  color: #666;
  cursor: pointer;
  font-size: 3.5rem !important;
}

.bi-spotify:hover {
  color: #179946 !important;
  transition: all 0.25s;
}

.bi-facebook:hover {
  color: #3b5998 !important;
  transition: all 0.25s;
}

.bi-youtube:hover {
  color: #c4302b !important;
  transition: all 0.25s;
}

.bi-instagram:hover {
  color: #f26549 !important;
  transition: all 0.25s;
}

/* STYLES LIB REACT ELASTIC CAROUSEL */

.rec.rec-arrow {
  background: rgba(15, 67, 70, 1) !important;
  color: white;
}

.rec.rec-arrow :hover {
  background: rgba(15, 67, 70, 1) !important;
}

.eVXyLj {
  background: rgba(15, 67, 70, 1) !important;
  box-shadow: #fff 0px 0px 1px 3px !important;
}

.koCOMj {
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgba(15, 67, 70, 1) 35%,
    rgba(1, 28, 29, 1) 100%
  );
}

.iASUtr {
  margin-top: 15px;
}



/* RESPONSIVE */

/* LAPTOP*/

@media screen and (max-width: 1592px) {
  .icons {
    width: 23rem;
  }

  .title-videos {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 1420px) {
  .title-videos {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 1260px) {
  .title-videos {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1108px) {
  .icons {
    display: flex;
    justify-content: space-around;
  }
  .title-videos {
    font-size: 1rem;
  }
}

/* TABLET */

@media screen and (max-width: 940px) {
  .title-videos {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 856px) {
  .title-videos {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 696px) {
  .title-videos {
    font-size: 0.5rem;
  }

  .icons .bi {
    font-size: 3.1rem !important;
  }

  .social-media p {
    font-size: 30px;
  }
}

@media screen and (max-width: 560px) {
  .icons .bi {
    font-size: 2.7rem !important;
  }

  .social-media p {
    font-size: 26px;
  }
}

@media screen and (max-width: 530px) {
  .title-videos {
    font-size: 0.44rem;
  }
}

/*MOBILE*/

@media screen and (max-width: 483px) {
  .title-videos {
    font-size: 0.34rem;
  }
}

@media screen and (max-width: 411px) {
  .icons {
    width: 18rem;
  }

  .social-media p {
    font-size: 18px;
  }

  .icons .bi {
    font-size: 2.1rem !important;
  }
}

@media screen and (max-width: 398px) {
  .title-videos {
    font-size: 0.3rem;
  }

  .icons .bi {
    font-size: 1.9rem !important;
  }
}

@media screen and (max-width: 367px) {
  .title-videos {
    font-size: 0.27rem;
  }
}
